body {
  margin: 15px;
  background-color:rgb(21, 35, 43);
  color: lightslategrey;
  font-family: 'Baloo Bhaijaan 2', cursive;
}

footer {
  text-align: center;
}

button {
  margin: 5px;
}

li {
  list-style-type: none;
  margin-left: 25px; 
}

#postlines {
  border-top: dotted;
}

.profiles {
  display: inline-block;
  margin-right: 15px;
}

#title {
  color: white;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

#post {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

#author {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

#comments {
  border: 1px dashed grey;
  margin-bottom: 15px;
  padding: 5px;
}

h6 {
  color: white;
  padding-top: 10px;
}

#newformdiv, #newformdiv2 {
  margin-top:10px;
  margin-left: 15px;
}
#newformdiv2 label {
  display: inline-block;
  width: 45px;
  text-align: left;
}

#newformdiv label {
  display: inline-block;
  width: 85px;
  text-align: left;
}

.coverart {
  margin: 2px;
  border: 5px solid;
  color: transparent;
}

.selectedart {
  color: orange;
}

#modalbg {
  background: rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalmain {
  background-color: lightgrey;
  padding-top: 10px;
  width: 50%;
  height: 10%;
  border-radius: 20px;
  border: 2px 2px 10px 3px #222;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#modalmainprofile {
  background-color: lightgrey;
  padding-top: 10px;
  width: 50%;
  height: 29%;
  border-radius: 20px;
  border: 2px 2px 10px 3px #222;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#modalmainedit {
  background-color: lightgrey;
  padding-top: 10px;
  width: 50%;
  height: 15%;
  border-radius: 20px;
  border: 2px 2px 10px 3px #222;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#modalmaincomment {
  background-color: lightgrey;
  padding-top: 10px;
  width: 50%;
  height: 12%;
  border-radius: 20px;
  border: 2px 2px 10px 3px #222;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#profpic {
  border-radius: 50%;
}

#crap {
  display: inline-block;
  margin-right: 15px;
  height: 455px;
  align-items: top;
  padding-top: 10px;
}

#profinfo {
  color: white;
  font-size: 25px;
}

#blank {
  color: transparent;
  border: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  pointer-events: none;
}