body {
  margin: 15px;
  background-color:rgb(21, 35, 43);
  color: lightslategrey;
}

footer {
  text-align: center;
}

button {
  margin: 5px;
}

li {
  list-style-type: none;
  padding: 0;
  margin-left: 25px; 
}

#modalbg {
  background: rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modalmain {
  background-color: lightgrey;
  padding-top: 10px;
  width: 50%;
  height: 10%;
  border-radius: 20px;
  border: 2px 2px 10px 3px #222;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#postlines {
  border-top: dotted;
}

.profiles {
  display: inline-block;
  margin-right: 15px;
}

#title {
  color: white;
  font-weight: bolder;
  margin: 0;
  padding: 0;
}

#post {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

#author {
  margin: 0;
  padding: 0;
  font-size: 13px;
}

#comments {
  border: 1px dashed grey;
  padding: 3px;
}

h6 {
  color: white;
  padding-top: 10px;
}